# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# Version control
.git
.gitignore
.github

# Build dependencies & package managers
node_modules/
vendor/
**/bin
**/obj
**/__pycache__
**/.venv

# Environment secrets
**/.env
.env.testing
deploy.php
**/secrets.dev.yaml
**/values.dev.yaml
**/.settings

# Logs, diagnostics, and temporary files
LICENSE.md
readme.md
.phpunit.cache/
.phpunit.result.cache
.phpactor.json
**/npm-debug.log

# Laravel framework
public/uploads/
public/storage/
storage/app/*
!storage/app/.gitignore
storage/app/excel-temp/*
!storage/app/excel-temp/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/debugbar/
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/data/*
!storage/framework/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!/storage/framework/testing/.gitignore
storage/framework/views/*
!/storage/framework/views/.gitignore

# IDE and system
**/.DS_Store
**/Thumbs.db
**/.project
.phpstorm.meta.php
.vs/
.vscode/
.idea/
_ide_helper*
**/*.*proj.user

# Docker files
**/.dockerignore
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
