/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/medialibrary
/vendor
/.idea
/.vagrant
.DS_Store
.bundle
.phpstorm.meta.php
.vscode
_ide_helper*
*.css.map
*.js.map
**/.phpunit.result.cache
**/capistrano.log
deploy.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.phpactor.json
