//== Breadcrumbs

.breadcrumb {

    .breadcrumb-item {

        a {
            color: $breadcrumb-link-color;
            text-decoration: underline;
        }
        a:hover {
            color: $utd-web-orange;
        }
    }
}