// homepage
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    padding: 5px 10px 30px;
}

#home-bottom {
  background-size: cover;
    min-height: 65vh;
    padding-top: 10vh;
    margin-bottom: -100px;
}

#stats {
    background-color: $utd-web-orange;
    color: white;
    min-height: 200px;
    opacity: .93;

    .col{
        padding: 55px 40px 60px;
        text-align: center;
    }
}

#home-top {
    background-size: cover;
    color: white;
    min-height: 60vh;

    @media (max-width: map-get($grid-breakpoints, lg)) {
            min-height: 35vh;
    }

    #home-search {
        padding: 40px 65px 70px;
        width: 42rem;

        .search:focus {
            border-color: $gray-400;
            box-shadow: none;
        }

        form {
            display: none;
        }

        #search-terms {
            padding-top: 20px;
        }
        .terms{
            padding: 10px 0px;
        }
    }
}

.info {
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    width: 24rem;
    height: 100%;
}

.num {
    font-size: 3.5rem;
}

.form-inline .input-group {
    width: 100%;
}

#home-video {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
        z-index: -100;
}

.control-bt {
    position: absolute;
    height: 45px;
    width: 45px;
    bottom: 33%;
    right: 15px;
    background-color: $utd-warm-gray2;
    border: 4px solid $black;
    opacity: 55%;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    
     span {
        width: 24px;
        height: 24px;
        fill: $white;
        margin-top: -0.1rem;
        &:first-of-type {
            margin-left: 0.1rem;
        }
        @media (max-width: 1199.98px) and (hover: none) {
            margin-left: -11px;
            &:first-of-type {
                margin-left: -9px;
            }
        }
    }

    &.pause span:first-of-type {
        display: none
    }
    &.play span:last-of-type {
        display: none
    }
    @media (max-width: 991.98px) {
        display: none;
    }
}