@use "sass:color";

.profiles.d-flex {
    gap: 2rem 1rem;
    margin-bottom: 2rem;
}

.profile-card {
    width: 16rem;
    border-radius: 5px;

    .card-title {
        margin-top: 0;
    }

    .card-footer {
        color: $link-color-on-gray-bg;
        text-decoration: none;
    }

    @media (max-width: map-get($grid-breakpoints, lg)){
        width: 12rem;
	}

    @media (max-width: map-get($grid-breakpoints, sm)){
        width: 16rem;
	}
}
