@use "sass:color";

.profile-card {
    margin-bottom: 2rem;
    width: 16rem;
    border-radius: 5px;

    .card-title {
        margin-top: 0;
    }

    .card-footer {
        color: color.scale($link-color, $lightness: -4.5%);
        text-decoration: none;
    }

    @media (max-width: map-get($grid-breakpoints, lg)){
        width: 12rem;
        font-size: 0.9rem;
	}

    @media (max-width: map-get($grid-breakpoints, sm)){
        width: 9rem;
        font-size: 0.75rem;
	}
}
