table {

  &.table-striped td a {
    color: $link-color-on-grayer-bg;
  }

  &.table-live {
    position: relative;

    th a {
      text-decoration: none;
    }

    .loading-indicator {
      background-color: rgba(0, 0, 0, 0.05);
      position: absolute;
      top: 35px;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
    }
  }
}