@use "sass:color";

//== Variables

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              true !default;
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

//== Colors
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

//## UT Dallas colors
$utd-flame-orange:		#E87500;
$utd-web-orange:		  #c95100;
$utd-eco-green:			  #154734;
$utd-solar-orange:		#E98300;
$utd-spark-orange:		#FFB612;
$utd-seedling-green:	#C9DD03;
$utd-sapling-green:		#69BE28;
$utd-aqua-blue:			  #5FE0B7;
$utd-sky-blue:			  #5BC6E8;
$utd-stratos-blue:		#00A1DE;
$utd-space-blue:		  #0039A6;
$utd-warm-gray2:		  #D5D2CA;
$utd-warm-gray4:		  #B7B1A9;
$utd-warm-gray6:		  #A59D95;
$utd-warm-gray8:		  #8B8178;
$utd-warm-gray10:		  #766A62;

//## Custom colors
$utd-warm-gray1: lighten($utd-warm-gray2, 10%);
$black: #000;
$teal:  #34827a;

//## New color palette
$brunswick-green:        #154734;
$brunswick-green-medium: #055C53;
$aquamarine:             #5fe0b7;
$safety-orange:          #e87500;
$myrtle-green:           #34827a;
$sea-green:              #198754;
$tawny:                  #c95100;
$yinmin-blue:            #2c497f;
$cerulean:               #147b9b;
$raspberry:              #D40F4A;
$misty-rose:             #ffe3e0;
$oxford-blue:            #0a122a;
$lavender-web:           #dfd9e2;
$coffee:                 #644536;
$fawn:                   #FFC082;
$jasmine:                #F7DD72;
$saffron:                #F2C232;
$slate-gray:             #6a6969;

$gray-base:              #000 !default;
$gray-neutral:           #919191 !default;
$gray-neutral-darker:    #6f6f6f !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lightish:          lighten($gray-base, 58.5%) !default; // #959595
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:          lighten($gray-base, 95.3%) !default; // #f3f3f3

$primary:       $utd-eco-green !default;
$secondary:     $gray-600 !default;
$success:       $sea-green !default;
$info:          $cerulean !default;
$warning:       $utd-spark-orange !default;
$danger:        $raspberry !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);
// stylelint-enable


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-800 !default;

//** Global textual link color.
$link-color:            $primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $utd-flame-orange !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

//** Font family
$font-family-sans-serif:      Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              1rem !default;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:            1.5 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // 1.5rem

$headings-color:          $utd-eco-green !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;
$border-radius-search:        1.5rem;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $info;
$btn-info-border:                $btn-info-bg !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        $gray-500 !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

//== Navbar
//
//##

// Dark navbar
$navbar-dark-color:                 rgba($white, 1) !default;
$navbar-dark-hover-color:           $white !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .5) !default;

//== Breadcrumbs
//
//## Increase contrast for WCAG AA

$breadcrumb-bg:                     $gray-100 !default;
$breadcrumb-active-color:           color.scale($gray-600, $lightness: -2%) !default;
$breadcrumb-divider-color:          $breadcrumb-active-color !default;
$breadcrumb-link-color:             color.scale($primary, $lightness: -1%) !default;

$breadcrumb-margin-bottom:          0 !default;

//== Forms
//
//##

$input-btn-focus-width:       .1rem !default;
$input-btn-focus-color:       $primary !default;
$input-focus-border-color:    $primary !default;
$input-border-color:          $gray-lightish !default;

$text-muted: $gray-neutral-darker;

$custom-file-button-color: $white !default;
$custom-file-button-bg: $secondary !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $utd-eco-green !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $utd-stratos-blue !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
